.container.content-blocks-container
  .content-blocks
    - data.featured_content.each do |content|
      .content-block__wrapper.col-md-4
        %a.test{ href: "#{content.link}" }
          .content-block.slp-bg-white.slp-border-grayscale-333.slp-rounded-md.slp-mb-16.slp-mx-auto.md:slp-mb-0.hover:slp-shadow-lg.hover:no-underline.slp-ease-in-out.slp-transition-all.slp-duration-300.slp-cursor-pointer
            .content-block-top
              .content-block__type.slp-text-xs
                - if content.type === "Blog"
                  = partial "/images/icons/resources/blog.svg"
                - elsif content.type === "eBook"
                  = partial "/images/icons/resources/ebook.svg"
                - elsif content.type === "Partners"
                  = partial "/images/icons/resources/community.svg"
                - elsif content.type === "Webcast"
                  = partial "/images/icons/resources/webcast.svg"
                - else content.type === "Doc"
                  = partial "/images/icons/resources/docs-articles.svg"
                #{content.type}
              - if content.date
                .content-block__date.slp-text-sm
                  #{content.date}
              .content-block__title.slp-text-lg
                #{content.title}
            .content-block-bottom
              .slp-text-sm.content-block__link
                #{content.link_text}
-# CSS For Component
:sass
  .content-blocks-container 
    margin-top: 142px
    @media (max-width: 768px)
      margin-top: 202px
    @media (max-width: 400px)
      margin-top: 235px
    @media (max-width: 768px)
      padding-right: 0px
      padding-left: 0px
      margin-right: 0px
      margin-left: 0px
      width: 100%
  .slick-track 
    width: 100%
    display: flex
  .slick-slide 
    height: unset
  .content-block
    display: flex
    height: 100%
    flex-direction: column
    justify-content: space-between
    margin-right: 16px !important
    width: 100%
    max-width: 450px
    padding: 24px 32px 32px 32px
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08)
    &:hover
      box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.25)
      .content-block__title
        color: #7D2BD9
  .content-block__date
    color: #333
  .content-block__title
    color: #333
  .content-block__type
    color: #333
    text-transform: uppercase
    display: flex
    align-items: center
    letter-spacing: 0.5px
    margin-bottom: 14px
    svg
      margin-right: 8px
      width: 16px
      height: 16px
  .content-block__wrapper
    &:not(:last-child)
      padding-right: 32px
    @media (max-width: 768px)
      flex-wrap: nowrap
      width: 70vw
    .content-block__link
      color: #7D2BD9 !important
      margin-top: 32px
      font-weight: 600
