---
layout: default
title: Agile Delivery Demo
description: "Watch the demo to learn how GitLab can help you deliver better products faster."
canonical_path: "/resources/demo-agile-delivery/"
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/c/gitlab-agile-project?x=QnKq41"
form_id: "1002"
form_type: "resources"
cta_title: "Watch the demo"
cta_date: 
cta_subtitle: 
link_text: "Click here to watch the demo."
success_message: "You will also receive a copy of the demo to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Agile delivery overview
        %h2.page-headline How Agile development looks when high-performing teams use GitLab

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Agile delivery is an iterative approach in which teams take iterative, incremental, and lean approaches to streamline and accelerate the delivery of projects. The demand for faster software development is universal, and Agile delivery helps teams meet business objectives.
            
            %p Organizations that adopt Agile delivery practices can gain a competitive edge in a fast changing market. Businesses that empower teams to use Agile development practices satisfy discerning customers and adapt to new technologies, helping them to develop the products that set the standard for industries. With GitLab, teams can use their preferred Agile methodology to increase innovation.

            %h3 In this demo, you'll learn how to:
            %ul
              %li Organize strategic themes into epics
              %li Use milestones and scoped labels to organize workflow
              %li Identify bottlenecks and problem areas

            %p Watch the demo to learn how GitLab can help you deliver better products faster.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }