.row
  .col-xs-12.col-md-6
    %h2 Easy to adopt
    %p
      As a complete end-to-end DevOps platform, GitLab provides a single UX to learn, a single data store to manage, and the flexibility to run it all on your choice of infrastructure.

  .col-xs-12.col-md-6
    <em>“We’re bringing into the firm a platform that our engineers actually want to use – which helps drive adoption across multiple teams and increase productivity without having to ‘force’ anyone to adopt it. This is really helping to create an ecosystem where our end users are actively helping us drive towards our strategic goals - more releases, better controls, better software.”</em>
    <br>George Grant<br>VP technology fellow,<br><a href="/customers/goldman-sachs/">Goldman Sachs</a>


%hr.divider
