<!-- Use this snippet to display research from the ux-research.yml file with 2 columns only  !-->
<!-- Use tag_key to create a UX Research entries table grouped by tag  -->

<div>
  <table style="width: 100%">
    <colgroup>
      <col span="1" style="width: 70%;">
      <col span="1" style="width: 30%;">
    </colgroup>
    <tr>
      <th>Link</th>
      <th>Category</th>
    </tr>

    <% data.ux_research.each do |entry| %>
      <% if entry.tag == tag_key %>
        <tr>
          <td>
          <div style="display: flex; flex-direction: column">
          <% if entry.name %> 
            <!-- Public content, display original name  -->
            <a href="<%= entry.url %>"><%= entry.name %></a>
            <small><b><%= entry.type %></b></small>
          <% else %> 
            <!-- Confidential content, generic name  -->
            <span><a href="<%= entry.url %>"><%= entry.category %> <%= entry.type %></a> 🔒</span>
            <small><b><%= entry.type %></b></small>
          <% end %>
          <small><%= entry.updated_at %></small>
          </div>
          </td>
          <td>
          <!-- Uncomment when/if more groups are added -->
          <!-- <%= entry.group %> / --> 
          <%= entry.category %>
          </td>
        </tr>
      <% end %>
    <% end %>  
  </table>
</div>